
.nav-link{
    margin: 10px;
    width: 80px;
    transition: .17s;
    text-align: center;
}
.nav-link:hover{
  border-bottom: 5px solid;
  border-bottom-color: orange;

}

#portf{
  font-weight: bold;
  font-size: 35px;
  margin-left: 50px;
  color: white;
}

#tools-nav{
  margin-right: 25px;
}

#contact-nav{
  background-color:rgb(73, 67, 54); 
  border-radius: 20px;
  width: 90px;
  text-align: center;
  color: orange;
  margin-right: 50px;
  text-decoration-line: none;
  transition: .15s;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-color: orange;
  border: 1px solid;
}

#contact-nav:hover{
  opacity: .7;
}
#contact-nav:active{
  opacity: .9;
}


.navbar{
  background-color: rgb(36, 35, 35);
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  }


