*{
	font-family: 'Josefin Sans', sans-serif;
}

#Name{
    color: rgb(45, 189, 214);
}
#navbarNav .navbar-nav .nav-item .navlink:hover{
    color:rgb(16, 97, 163);
    transition: .4s;

}

.landing-message{
    font-size: 50px;
}
#portf{
    font-weight: bold;
    font-size: 35px;
}

#Projects{
    font-weight: bold;
}

#tools{
    font-weight: bold;
}


#aljonimg{
    border-radius: 50%;
    width: 50%;
    object-fit:cover;
   object-position:50% 50%;
   border-color: rgb(35, 90, 138);
}