*{
	font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    position: static;
}

.landing-message{
    font-size: 30px;
}

#Projects{
    font-weight: bold;
}

#tools{
    font-weight: bold;
}


#aljonimg{
    border-radius: 50%;
    width: 500px;
}

